@import "./mixins.scss";

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.4rem;
  background: -webkit-linear-gradient(
    rgba(85, 227, 255, 1),
    rgba(103, 73, 252, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem;

  @include respond(md) {
    font-size: 2.2rem;
  }
  @include respond(lg) {
    font-size: 3.5rem;
  }
}
