@import url("https://fonts.googleapis.com/css?family=Rubik:200,300,400,700,900&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #9b51e5 100%);
  --bg-color: #343d4b;
  --bg-color-dark: #242a33;
  --bg-color-darker: #14181d;
  --text-color: #ffffff;
  --main-border-radius: 2rem;
  --sec-border-radius: 1rem;
}

body {
  height: 100vh;
  font-family: "Rubik", sans-serif !important;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
