@import url("https://fonts.googleapis.com/css?family=Space+Mono:200,300,400,700,900&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #7875eb 100%);
  --bg-color: #7db9ed;
  --bg-color-dark: #5a83a69b;
  --bg-color-darker: #192839;
  --text-color: #ffffff;
  --main-border-radius: 2rem;
  --sec-border-radius: 1rem;
}

body {
  height: 100vh;
  font-family: "Space mono", sans-serif !important;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}
