@import "./mixins.scss";

.cityContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.cityName {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 1rem;

  @include respond(md) {
    font-size: 1.9rem;
  }
}

.weatherIcon {
  transform: translateY(4px);
}

.extraWeatherDataContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-dark);
  padding: 1rem;
  border-radius: 1rem;
}

.extraWeatherDataContainer p {
  margin: 0.25rem;
  font-weight: lighter;
}

.todaysTemp {
  margin-right: 2rem;
}

.tempAndData {
  display: flex;
  align-items: center;
  font-size: 0.8rem;

  @include respond(md) {
    font-size: 1.2rem;
  }
}
