h2 {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--bg-color-darker);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .wrapper {
    font-size: 1.2rem;
  }
}
.wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .container .day {
  font-weight: bold;
  margin-bottom: 0px;
}
.wrapper .tempImg {
  display: flex;
  flex-direction: column;
}
